*.bak
*.out
*.toc
*.gz
*.log
*.aux
*.bbl
*.gz(busy)
*.blg
*.o
*.sp
*.res
*.pyc
*.snm
*.nav
*.
*.pyc
*.pyc
*.swap
Undergraduate Thesis/NumericalSimulation/__pycache__/theoretical.cpython-35.opt-2.pyc
*.pyc
Kaggle/titanic/gender_submission.csv
*.csv
*.a